{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <article>
        <h2>{{ produit.nom }}</h2>
        <div class="content">
            <img src="{{ produit.photo }}"  alt="Photo">

            {# <hr> fait une ligne grise horizontale #}
            <hr>
        </div>
    </article>

    {{ include('_formFiles.html.twig', {"form" : form}) }}
{% endblock %}
