{% extends "base.html.twig" %}

{% block main %}
    <form action="{{ path('commande_last_sales') }}">
        <input type="number" name="days">
        <input type="submit" name="valide" value="valide">
    </form>
    {% set prixTotal = 0 %}
    {% for commande in data %}
        {% set prixCommande = 0 %}
        {% for lc in commande.ligneCommandes %}
            {% set prixCommande = prixCommande + lc.prix %}
        {% endfor %}
        <div>Chiffre d'affaire sur la commande {{ commande.id }} : {{ prixCommande }}</div>
        {% set prixTotal = prixTotal + prixCommande %}
    {% endfor %}
    <div>Chiffre total sur {{ days }} jour</div>
{% endblock %}