<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Magasin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Les produits <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if app.user is not null %}
                <li class="nav-item dropdown" style="margin-right: 150px">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('user_index') }}">Profils</a>
                        <a class="dropdown-item" href="#">Paramettre</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link active" href="{{ path('app_logout') }}">Deconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_inscription') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>