<div style="margin: auto; text-align: center">
    <h1>Salut {{ user.username }}</h1>
    <div>Bienvenue sur note site !</div>
    <div><a href="http://127.0.0.1:8000/login/{{ user.tokenMail }}">Connexion</a> </div>
</div>